<p class="title is-4">Key Dates</p>

<ul class="spaced-list">
    <li>Paper & Demo Submissions: <strong style="text-decoration: line-through;">January 9, 2022 AoE</strong><a href="https://time.is/Anywhere_on_Earth" target="_blank"><span class="icon"><i class="fas fa-clock"></i></span></a></li>
    <!-- <li>Paper & Demo Submissions: <strong>January 9, 2023 AoE</strong><a href="https://time.is/Anywhere_on_Earth" target="_blank"><span class="icon"><i class="fas fa-clock"></i></span></a><a class="tag is-warning" href="https://easychair.org/conferences/?conf=haigen2023">Submit</a></li> -->
    <li>Acceptance Notifications: <strong style="text-decoration: line-through;">January 29, 2023</strong></li>
    <!-- <li>Acceptance Notifications: <strong>January 29, 2023</strong></li> -->
    <!-- <li>Camera-Ready Submissions: <strong>February 14, 2023</strong></li> -->
    <li>Camera-Ready Submissions: <strong style="text-decoration: line-through;">February 14, 2023</strong></li>
    <li>Workshop Date: <strong>March 27, 2023 6:00am AEDT (GMT+11) / March 26, 2023 3pm EDT (GMT-4)</strong></li>
</div>
